@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fugaz+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Londrina+Shadow&family=Rampart+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
:root{
    --bg-color:#6B3F69;
    --text-color:#ebd9d1;
    --box-color:#8D5F8C;
    --extra-color:#e3ffd1;
    --font: "Zalando Sans Expanded", sans-serif;
    --title:"Libre Baskerville", serif;
    --nav:"Chewy", system-ui;
}
body {
    background-color:#A376A2;
    font-family: var(--font);
   text-shadow: 5px 5px 5px rgb(78, 7, 7);
  
}
h1,h2 , p {
    color: rgb(99, 99, 138);
}
.title {
    font-size: 3em;
    font-weight: 700;
    font-family: var(--font);
    text-transform: capitalize;
    line-height: 3em;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(82, 3, 3);
}


.note{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: justify;

}
.note::first-letter{
    font-size: 1.5em;
}
h2,.note{
    font-size: 1em;
    font-family: var(--title);
    text-align: left;
    text-shadow:5x 5x 5x black;
}

#top {
   
    background-color:var(--bg-color);
}
#welcome {
    
    background-color:#8d5f8c;
    color: #e3ffd1;
    
}
.profile-pic {
    justify-content: center;
width: 130px;
height: 130px;
border-radius: 50%;
border: 4px solid #fff;
margin-bottom: 15px;
box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
li>a{
    text-decoration: none;
    color: rgb(255, 0, 221) ; 
}
li>a:link{
    color: var(--text-color);
}
li a:visited{
    color: black;
}
li a:hover{
    background-color: var(--extra-color);
    color: var(--bg-color);
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--bg-color);

}
li a:active{
    color: rgb(3, 3, 128);
}
li a :focus{
    color: rgb(255, 0, 149);
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav li {
    font-size: 1em;
    font-weight: 600;

}
header a {
    
    color:var(--text-color);
}
h1 {
 color:#e3ffd1;
}
h2{
    color: var(--extra-color);
}
p{
    color: var(--extra-color);
}
header {
    margin: 20px;
    padding: 10px;
    border-radius: 24px;
    border-style: double;
    border-color: #fff;
}
nav{
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 16px;
}
section {
    padding: 20px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(141, 95, 140);
}

.gallery {
    height: 600px;
    background-color: var(--bg-color);
}
.box {
    background-color: blueviolet;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 3% 3% 3% black;
    text-align: center;
    position: static;
    top: 300px;
    right: 300px;
}
.box:hover{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
    animation: colorchanges 2s infinite;
}
.box1 {
        background-color: rgb(103, 30, 172);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 3% 3% 3% black;
    text-align: center;
    position: relative;
    top: -200px;
    left: 200px;
    z-index: 2;

}
.box1:hover{
    /* background-color: #e3ffd1; */
    translate: 50px 100px;
    /* transform: scale(1.5); */
    /* transform: translate(); */
    transform: rotate(180deg);
    transition: transform 5s ease-in-out;
    /* transition: background-color 3s ease-in; */
     animation: colorchanges 5s infinite;
     -webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}
.box2 {
        background-color: rgb(74, 17, 128);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 3% 3% 3% black;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 400px;
    z-index: 1;
  
}

header{
   
    position: sticky;
    width: 80%;
    left: 10%;
    top: 0 ;
    z-index: 99;
}
@keyframes colorchanges {
    0%{
        background-color: #e3ffd1;
    }
    50%{
        background-color: aquamarine;
    }
    100%{
        background-color: aqua;
    }
}



/* ----------------------------------------------
 * Generated by Animista on 2025-10-4 18:50:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-hor
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}


@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:hesitate"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

